.page {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  grid-auto-rows: minmax(100px, auto);
  background-color: #ffffff;
  padding: 30px;
}

.container {
  text-align: center;
  border: solid 1px blanchedalmond;
  margin: 5% 30%;
  box-shadow: 2px 2px blanchedalmond;
}
